.navbar-title {
  font-size: 1rem;
}


/* Logo : taille et position */
.navbar-brand {
  margin-left: 130px;
  margin-right: 100px !important;
  padding: 0;
}

.navbar-brand img {
  height: 35px !important;
  width: auto !important;
  max-height: none !important;
}

/* Liens placés juste après le logo */
.navbar-collapse {
  justify-content: flex-start;
}

.navbar-nav {
  margin-left: 0;
  margin-right: 0;
}